*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 72px;
}
body{
    background-color: green;
}

#div1{
    display: none;
}
#div3{
    display: none;
}
form{
    
    padding: 1rem;
    background-color: beige;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   gap: 1rem;
}
.hide{
    display: none;
}
.show{
    display: block;
}
span{
    color: orangered;
}
input{
    width: 300px;
    height: 40px;
    border-radius: .5rem;
}
input[id="address"]{
    height: 120px;
}
h1{
    margin-bottom: 70px;
    font-size: 40px;
}
#h1div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label{
    font-size: large;
    font-weight: bold;
}
button{
    padding: 1rem;
    border-radius: 1rem;
    font-size: larger;
    background-color: green;
}
footer{
    height: 72px;
}
@media only screen and (min-width: 1200px) {
    input{
        width: 900px;
        height: 40px;
        border-radius: .5rem;
  }
  #div1{
    display: block;
  }
  #div2{
    display: block;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
form{
    border-radius: 1rem;
}
}